body {
background-color: cadetblue;
}

h1 {
color: rgb(68, 225, 242);
background-color: rgb(38, 82, 26);
}

#show_sketch {
float:right;
}

p {
padding-top: 25px;
font-size: 25px;
}

canvas {
border: 7px ridge royalblue;
border-radius: 20px;
animation-name: example;
animation-duration: 6s;
margin-top: 50px;
animation-iteration-count: infinite;
}

@keyframes example {
from{
box-shadow: 1px 1px 38px rebeccapurple;
}
to{
box-shadow:  1px 1px 38px cyan;
}
}